/*  Generic
=============================================*/
$margin: 176;
$percent-gap: ($margin / 1920 * 100) * 2;
$headerHeight: 75px;
$footerHeight: 115px;

/*  Fonts
=============================================*/
$font-size: 14px;
$font-default: 'Roboto', sans-serif;

/*  Colors
=============================================*/
$purple: #394683;
$light-grey: #f3f3f3;