/*  Generic
=============================================*/
$margin: 176;
$percent-gap: ($margin / 1920 * 100) * 2;
$headerHeight: 75px;
$footerHeight: 115px;

/*  Fonts
=============================================*/
$font-size: 14px;
$font-default: 'Roboto', sans-serif;

/*  Colors
=============================================*/
$border-color: #d4d9e3;
$grey-dark: #505050;
$grey-light: #f3f3f3;
$grey: #b1b1b1;
$purple-light: #757fa9;
$purple-medium: #5d699a;
$purple: #394683;
$red-error: #f57f6c;
